doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header header stuff
    block content
    footer footer stuff
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.7/highcharts.js')
    script(src='javascripts/bundle.js')
    block scripts